---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { 
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.hero { 
  background-image: url("/assets/images/bfg-hero.png"); 
  background-position: bottom; 
  background-size: cover;
  height: 400px; 
}

/* Headings */
.home_header { 
  font: 4.5rem bold; 
  color: rgba(239, 242, 245, 1);
  text-align: center;
  padding-top: 20px;
}

.home_subtitle {
  font: 1.5rem bold;
  color: rgba(0, 60, 110, 1);
  text-align: center;
  padding-top: 100px;
}


